/* Add your existing styles or create a new stylesheet */

.block{
    position: relative;
    margin-top: 10%;
    margin-left: 20%;
}
.itinerary-item__point-icon {
    
    position: relative;
    display: inline;
    
}
.heading{
    position: absolute;
    display: inline-block;
    left: 5%;
}
.itinerary-line {
    position: relative;
    display: inline-block;
    left: 0.5%;
    width: 2px; 
    height: 30px;
    border-left: 2px dotted black;
    
}
.para{
    position: absolute;
    display: inline-block;
    top: 25%;
    left: 5%;
}






